<%- include('partials/head') %>
<%- include('partials/nav') %>
<div class="error-txt">
    <h2 class="txt">
        Sorry, this page is not available
        <i class="fas fa-exclamation"></i>
    </h2>
</div>
</body>

</html>